<%- include ("../_partials/_header.ejs"); %>
    <div style="padding-left:16px">
        <h1>
            <center>Вітаємо!</center>
        </h1>
        <h2>
            <center>Для того, щоб отримати інформацію про курс біткоїну, зареєструйтеся або увійдіть </center>
        </h2>
    </div>

    <%- include ("../_partials/_footer.ejs"); %>