<%- include('../_partials/_header'); -%>

    <div align='center'>
        <h1>Ви ввели неправильний пароль, спробуйте ще раз</h1>
    </div><br><br>
    <div align='center'>
        <h2><a href='/login'>Увійти</a></h2>
    </div>

    <%- include ('../_partials/_footer'); -%>