<%- include('../_partials/_header2'); -%>

    <div align='center'>
        <h1>Курс біткоiну</h1>
        <h2>
            <a href='https://www.youtube.com/watch?v=IO9XlQrEt2Y'> Ось </a></h2>
    </div>

    <%- include ('../_partials/_footer'); -%>