<%- include('../_partials/_header'); -%>

    <div align='center'>
        <h1>Реєстрація пройшла успішно!</h1>
        <h2>Тепер увійдіть</h2>
    </div>
    <div align='center'>
        <h2><a href='/login'>Увійти</a></h2>
    </div>
    <div align='center'>
        <h2>або зареєструйте нового користувача</h2>
    </div>
    <div align='center'>
        <h2><a href='/signup'>Зареєструвати</a></h2>
    </div>

    <%- include ('../_partials/_footer'); -%>